@using WebUI.Models.GameAdmon

<div class="container-fluid">
    <div class="row">
        @foreach (var player in List)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@player.Name</h5>
                        <h6 class="card-subtitle mb-2">Login: @player.Login</h6>
                        <h6 class="card-subtitle mb-3">Contraseña: @player.Password</h6>
                        <h6 class="card-subtitle mb-4"><span class="badge badge-info">@player.BoardsCount tableros</span></h6>
                        @if (AllowAddingBoards)
                        {
                            <button class="btn btn-primary" @onclick=@(() => OnAddingBoard?.Invoke(player))>Agregar 1 Tabla</button>
                        }
                        @if (player.WinningBoardCount > 0)
                        {
                            <h6 class="card-subtitle mb-5"><span class="badge badge-warning">@player.WinningBoardCount tableros ganadores</span></h6>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<PlayerModel> List { get; set; }

    [Parameter]
    public bool AllowAddingBoards { get; set; }

    [Parameter]
    public Action<PlayerModel> OnAddingBoard { get; set; }
}