@page "/gameplayer"

@using WebUI.ViewModels

@inject GamePlayerViewModel player

@if(player.CanSelectGameSectionBeShown)
{
    <h1 style=@(player.PlayableGames.Count > 0 ? "" : "display: none;")>Selecciona el Juego al que quieres unirte</h1>
    <h1 style=@(player.PlayableGames.Count == 0 ? "" : "display: none;")>No existen juegos iniciados aun. Habla con el admon. del juego, para que inicie uno</h1>
    <div class="container-fluid">
        <div class="row">
            @foreach (var game in player.PlayableGames)
            {
                <div class="col">
                    <button class="btn btn-outline-primary" @onclick=@(() => player.SelectGame(game))>@game.Name</button>
                </div>
            }
        </div>
    </div>
}

@if(player.CanAuthenticateInGameSectionBeShown)
{
    <h1>Ahora por favor, cuentanos quien eres tu, dentro del juego "@player.GameSelected.Name"</h1>
    <EditForm Model=player.LoginModel OnValidSubmit=@(async () => await player.Login())>
        <DataAnnotationsValidator />
        <div class="form-row">
            <div class="col">
                <label for=@player.LoginModel.Login>Usuario</label>
                <InputText type="text" class="form-control" placeholder="Escriba el Login que te asignaron en este juego" @bind-Value=player.LoginModel.Login />
                <ValidationMessage For="@(() => player.LoginModel.Login)" />
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label for=@player.LoginModel.Passwd>Contraseña</label>
                <InputText type="password" class="form-control" placeholder="Escriba la Contraseña que te asignaron en este juego" @bind-Value=player.LoginModel.Passwd />
                <ValidationMessage For="@(() => player.LoginModel.Passwd)" />
            </div>
        </div>
        <button type="reset" class="btn btn-secondary" @onclick=player.CancelLogin>Regresar a la selección de juegos</button>
        <button type="submit" class="btn btn-primary">Ingresar al juego</button>
    </EditForm>
}

@if(player.CanLoggedInSectionBeShown)
{
    <h1>Hola @player.PlayerModel.Name Bienvenido al juego @player.GameSelected.Name</h1>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await player.InitializeComponent();
    }
}
