@page "/gameplayer"

@using WebUI.ViewModels
@using WebUI.Components

@inject GamePlayerViewModel player

@if (player.CanSelectGameSectionBeShown)
{
    <h1 style=@(player.PlayableGames.Count > 0 ? "" : "display: none;")>Selecciona el Juego al que quieres unirte</h1>
    <h1 style=@(player.PlayableGames.Count == 0 ? "" : "display: none;")>No existen juegos iniciados aún. Habla con el administrador del juego, para que inicie uno</h1>
    <div class="container-fluid">
        <div class="row">
            @foreach (var game in player.PlayableGames)
            {
                <div class="col">
                    <button class="btn btn-outline-primary" @onclick=@(() => player.SelectGame(game))>@game.Name</button>
                </div>
            }
        </div>
    </div>
}

@if (player.CanAuthenticateInGameSectionBeShown)
{
    <h1>Ahora por favor, cuéntanos quién eres tú, dentro del juego "@player.GameSelected.Name"</h1>
    <EditForm Model=player.LoginModel OnValidSubmit=@(async () => await player.Login())>
        <DataAnnotationsValidator />
        <div class="form-row">
            <div class="col">
                <label for=@player.LoginModel.Login>Usuario</label>
                <InputText type="text" class="form-control" placeholder="Escribe el Usuario que te asignaron en este juego" @bind-Value=player.LoginModel.Login />
                <ValidationMessage For="@(() => player.LoginModel.Login)" />
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label for=@player.LoginModel.Passwd>Contraseña</label>
                <InputText type="password" class="form-control" placeholder="Escribe la Contraseña que te asignaron en este juego" @bind-Value=player.LoginModel.Passwd />
                <ValidationMessage For="@(() => player.LoginModel.Passwd)" />
            </div>
        </div>
        <button type="reset" class="btn btn-secondary" @onclick=player.CancelLogin>Regresar a la selección de juegos</button>
        <button type="submit" class="btn btn-primary">Ingresar al juego</button>
    </EditForm>
}

@if (player.CanLoggedInSectionBeShown)
{
    <h1>Hola @player.PlayerModel.Name Bienvenido al juego @player.GameSelected.Name</h1>

    <div>
        <h2>Bolas jugadas (en el orden en que fueron jugadas)</h2>
        <div style="width: 400px; overflow-x: auto; white-space: nowrap;">
            @foreach (var ball in player.PlayedBalls)
            {
                <button disabled class="btn btn-outline-info">@ball.Name</button>
            }
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            @foreach (var board in player.PlayerModel.Boards)
            {
                <div class="col-lg-6">
                    <PlayerBoard GameType=@player.PlayerModel.GameType
                                 Balls=@board.Balls />
                </div>
            }
        </div>
    </div>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await player.InitializeComponent(() => UpdateUI());
    }

    private void UpdateUI()
    {
        StateHasChanged();
    }
}
